body {
    color: #5E5E5E;
    font-size: 13px;
    font-family: 'Roboto Condensed', Arial, sans-serif;
}


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, p, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 25px;
    font-weight: normal;
}
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.page {
    border: 1px solid #ccc;
    margin: 3em auto;
    max-width: 960px;
}
.page__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 20px 40px;
}
.page__logo {
}
.page__image {
    background: url(../images/header.jpg) center 0 no-repeat;
    height: 95px;
    line-height: 95px;
    background-size: cover;
    text-align: center;
}
.page__task-name {
    display: inline-block;
    background-color_: rgba(255,255,255,0.5);
    background-color_: rgba(0,0,0,0.5);
    color: #333;
    font-size: 20px;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 300;
    line-height: 39px;
}
.page__task-title {
    display: inline-block;
    vertical-align: middle;
    background-color_: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    font-size: 50px;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 300;
    line-height: 39px;
    padding: 5px 30px;
}
.page__form {
    background: #ECECEC;
    border: 1px solid #ccc;
    border-width: 1px 0;
    padding: 20px 20px 20px 40px;;
    color: #5E5E5E;
    text-align: left;
}

.form {
    display: flex;
}

.form label {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
}
.form__short-url {
    padding: 0 30px;
}
.form__result {
    padding: 11px 15px;
    border: 2px dashed #ccc;
    min-width: 350px;
    height: 42px;
    box-sizing: border-box;
}

input {
    font-size: 16px;
}

.page__content {
    padding: 40px;
    font-size: 15px;
    line-height: 1.5;
    color: #5E5E5E;
}
.page__content p {
    margin-bottom: 10px;
}
.page__content ol {
    margin: 8px 0 8px 8px;
    padding-left: 8px;
}
.page__content ol > li {
    margin-bottom: 5px;
}
.alphabet {
    list-style-type: lower-alpha;
}
.page__content--padding {
    padding: 20px 40px;
}
.input-text, textarea {
    border: 2px solid #e2e2e2;
    outline: none;
    padding: 10px;
    padding-left: 15px;
    font-family: inherit;
    font-weight: 300;
}
.input-text {
    width: 360px;
}
.input-text:focus {
    border-color: rgba(248,155,28,.4);
}
.btn {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    transition: all .5s ease;
    padding: .6rem 2.5rem;
    line-height: 1.25;
    text-align: center;
    background: #f89b1c;
    border: 0;

}
.btn:hover {
    box-shadow: none;
    color: #fff;
}
.btn--plus {
    font-size: 20px;
    padding: 0 10px;
}

.btn--start {
    font-size: 20px;
    margin: 20px 0 0;
}

pre {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.link {
    color: #f89b1c;
}
.poll .input-text {
    width: 100%;
}
.poll {
    margin: 40px auto;
    max-width: 505px;
}
.poll-table {
    border-collapse: collapse;
    width: 100%;
}
.poll-table  thead th {
    text-align: left;
    padding: 10px 20px;
    border-bottom: 1px #ccc solid;
    background-color: #eee;
    font-size: 16px;
}
.poll-table  tbody th {
    text-align: left;
    padding: 8px 20px;
    border-bottom: 1px #eee solid;
    font-size: 14px;
}
.poll-table  tbody td {
    padding: 8px 20px;
    border-bottom: 1px #eee solid;
    font-size: 14px;
}
.poll-table__plus {
}

.ex2-question {
    margin: 20px 0 40px;
    padding: 20px 0;
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
}
.ex2-question__label {
    font-size: 16px;
    margin-bottom: 10px;
}
.ex2-question__input .input-text {
    width: 100%;
}
.ex2-question__input {
    margin-bottom: 20px;
}
.ex2-question__answer {
    margin-bottom: 30px;
}
.ex2-question__answer label {
    margin-bottom: 10px;
    margin-right: 20px;
}
.ex2-table {
    border-collapse: collapse;
    width: 100%;
}
.ex2-table  thead th {
    text-align: left;
    padding: 10px 20px;
    border-bottom: 1px #ccc solid;
    background-color: #eee;
    font-size: 16px;
}
.ex2-table  tbody th {
    text-align: left;
    padding: 8px 20px;
    border-bottom: 1px #eee solid;
    font-size: 14px;
}
.ex2-table  tbody td {
    padding: 8px 20px;
    border-bottom: 1px #eee solid;
    font-size: 14px;
}
.ex2-table__plus {
    text-align: right;
}

@media (max-width: 768px) {
    .form {
        display: block;
    }
    .form__short-url {
        padding: 20px 0;
    }
    .input-text {
        font-size: 14px;
    }
    .page {
        margin: 0;
    }
    .logo {
        padding-left: 20px;
    }

    .page__header {
        padding: 20px;
    }
    .page__task-title {
        font-size: 20px;
    }
    .page__task-name {
        font-size: 14px;
        line-height: 1.2;
    }
    .form-table {
        padding-left: 20px;
    }
    pre {
        padding-left: 0;
        white-space: pre-wrap;
    }
    .page__content {
        padding: 20px;
    }
}

@media (max-width: 420px) {
    .page__logo img {
        width: 90px;
    }
    .page__task-name {
        width: 50%;
    }
    .poll {
        margin: 0;
        border: 0;
    }
    .page {
        border: 0;
    }
    .poll-table thead th,
    .poll-table tbody th,
    .poll-table tbody td {
        padding: 5px 10px;
    }
    .page__task-title {
        font-size: 18px;
    }
    h1 {
        font-size: 20px;
    }
    .ex2-question {
        margin: 10px 0;
        padding: 20px 0;
    }
    .page__form .input-text {
        width: 100%;
        margin-bottom: 10px;
    }
    .page__form .form__result {
        width: 100%;
        min-width: 0;
    }
    .page__form {
        padding: 20px;
    }
}
