<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700"
          media="all">
    <title>XIAG test task</title>
    <meta name="robots" content="noindex,nofollow"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0"/>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="page">
    <div class="page__header">
        <div class="page__logo">
            <a href="https://www.xiag.ch" target="_blank">
                <img src="/images/page-logo.png" alt="XIAG AG">
            </a>
        </div>
        <div class="page__task-name">
            URL shortener
        </div>
    </div>
    <div class="page__image">
        <div class="page__task-title">
            URL shortener
        </div>
    </div>
    <div class="page__form">
        <form action="javascript:onClick()">
            <div class="form">
                <div class="form__long-url">
                    <label for="name">
                        Long URL
                    </label>
                    <input type="url" class="input-text" id="name" name="url">
                    <input type="submit" class="btn" value="Do!">
                </div>
                <div class="form__short-url">
                    <label>
                        Short URL
                    </label>
                    <div class="form__result">
                        <div id="result"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="page__content">
        <p>
            <strong>Using this HTML please implement the following:</strong>
        </p>
        <ol>
            <li>Site-visitor (V) enters any original URL to the Input field, like
                http://anydomain/any/path/etc;
            </li>
            <li>(V) clicks submit button;</li>
            <li>Page makes AJAX-request;</li>
            <li>Short URL appears in Span element, like http://yourdomain/abCdE (don't use any
                external APIs as goo.gl etc.);
            </li>
            <li>(V) can copy short URL and repeat process with another link.</li>
        </ol>
        <br>
        <p>
            Short URL should redirect to the original link in any browser from any place and keep
            actuality forever, doesn't matter how many times application has been used after that.
        </p>
        <br>

        <p><strong>Requirements:</strong></p>
        <ol class="alphabet">
            <li>Use PHP or Node.js;</li>
            <li>Don't use any frameworks.</li>
        </ol>
        <br>
        <p><strong>Expected result:</strong></p>
        <ol class="alphabet">
            <li>Source code;</li>
            <li>System requirements and installation instructions on our platform, in English.</li>
        </ol>
    </div>
</div>
<script src="/js/app.js"></script>
<script>
    function onClick() {
        var url = document.querySelector('#name').value;
        // "http://y.d".length === 10
        if (!url || url && url.length < 10) {
            return;
        }
        var resultContainer = document.querySelector('#result');
        resultContainer.innerText = '';
        App.post(url).done(function (result) {
            resultContainer.innerText = result;
        }).fail(function () {
            alert('error, try again')
        });
    }
</script>
</body>
</html>
